@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 0;
}

button {
  cursor: pointer;
}

a,
a:visited {
  /*color:inherit;*/
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

/* ================================== */

body {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #011936;
  background: #F4FFFD;
}

.header {
  margin: 48px 24px 0;
  font-size: 24px;
}

.header--welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.header--welcome__text {
  font-weight: 400;
  opacity: .8;
}

.header--modal {
  margin: 0;
  padding: 24px 24px 0;
  color: #000;
}

.section {
  margin: 24px;
}

.section__title {
  margin-bottom: 16px;
  opacity: .8;
}

.section--modal-horizontal {
  margin: 0;
}

.section--modal-horizontal .section__title {
  margin-bottom: 0;
  padding-left: 24px;
}

.popup {
  width: 100%;
  height: 100%;
  padding-top: 40%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  background-color: rgba(1, 25, 54, 0.5);
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.popup__content {
  min-width: 60%;
  border-radius: 24px 24px 0 0;
  background-color: #F4FFFD;
}

.popup__content--homepage .header--modal {
  padding-bottom: 24px;
}

.popup__content--homepage .section {
  margin: 0;
  padding: 24px;
}

.popup--users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.popup--add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.popup--add .popup__content {
  margin: 0 24px;
  border-radius: 24px;
}

.horizontal-content {
  padding: 16px 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.horizontal-content .buylist {
  margin-right: 24px;
}

.horizontal-content .buylist:last-child {
  margin-right: 0;
}

.btn {
  width: 56px;
  height: 56px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 32px;
  right: 32px;
  border-radius: 24px;
  background-color: #F9DC5C;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.btn--filters {
  padding: 16px 24px;
  margin-right: 16px;
  background: #E5E5E5;
  border-radius: 24px;
}

.btn--filters.active {
  color: #F4FFFD;
  background: #011936;
}

.btn--filters:last-child {
  margin-right: 0;
}

.btn--monobrow {
  width: 33.333%;
  padding: 12px 0;
  color: rgba(1, 25, 54, 0.8);
  background: none;
}

.btn--monobrow.active {
  color: #F4FFFD;
  border-radius: 24px;
  background: #011936;
}

.btn--add {
  width: 100%;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #F4FFFD;
  border-radius: 24px;
  background: #F9DC5C;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.btn--hamburger {
  position: unset;
}

.avatar {
  width: 58px;
  height: 58px;
}

.buylist {
  width: auto;
  min-width: 140px;
  height: 140px;
  padding: 24px;
  color: #011936;
  background-color: #E5E5E5;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.buylist__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 24px;
}

.buylist--coop {
  position: relative;
  color: #F4FFFD;
  background-color: #ED254E;
  -webkit-box-shadow: 0px 4px 20px 0px #ED254E;
          box-shadow: 0px 4px 20px 0px #ED254E;
}

.buylist--coop:after {
  content: url("../img/user-friends.svg");
  display: block;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.buylist__progress {
  font-size: 24px;
}

.buylist__name {
  font-weight: 400;
}

.need-to__item {
  position: relative;
  margin-bottom: 16px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E5E5E5;
  border-radius: 24px;
}

.need-to__item:after {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  position: absolute;
  right: 24px;
  border-radius: 8px;
  background-color: #c4c4c4;
}

.need-to__item:last-child {
  margin-bottom: 0;
}

.need-to__text:after {
  z-index: 1;
  opacity: 0;
  width: 16px;
  height: 16px;
  content: "";
  display: block;
  position: absolute;
  right: 28px;
  top: 27px;
  background-color: #011936;
  border-radius: 8px;
}

.need-to__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.need-to__check:checked + .need-to__text:after {
  opacity: 1;
}

.need-to__check:checked + .need-to__text {
  text-decoration: line-through;
}

.users__item {
  position: relative;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users__item:last-child {
  margin-bottom: 0;
}

.users__avatar {
  margin-right: 16px;
}

.users__delete {
  position: absolute;
  right: 0;
}

.target {
  margin: 24px;
  padding: 24px;
  font-size: 24px;
  color: #F4FFFD;
  background: #ED254E;
  border-radius: 24px;
}

.target__name {
  font-weight: 400;
}

.target__cash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 0 4px;
  font-size: 12px;
}

.target__progress-bar {
  width: 100%;
  height: 4px;
  position: relative;
  border-radius: 2px;
  background: rgba(244, 255, 253, 0.7);
}

.target__progress-bar:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 68.61111%;
  height: 100%;
  border-radius: 2px;
  background: #F4FFFD;
}

.filters--monobrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px;
  padding: 4px;
  background: #E5E5E5;
  border-radius: 24px;
}

.hamburger-menu {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: 0;
  bottom: 32px;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.hamburger-menu .btn--hamburger {
  position: fixed;
  right: 32px;
  bottom: 32px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.hamburger-menu .btn--hamburger:first-child {
  margin-right: 30px;
}

.hamburger-menu:target {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu:target .btn--hamburger {
  position: unset;
  margin-right: 16px;
}

.buylist-add {
  width: 100%;
}

.buylist-add__input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  margin-bottom: 24px;
  border: 2px solid rgba(1, 25, 54, 0.8);
  border-radius: 12px;
}